<title>Email Sent Success</title>

<div class="section">
    <div class="ptb2rem m-auto text-center">
        <div class="fade show  fontSize07em"> 
            <h1>You have been sent an email.</h1> 
            <br>
            <br>
            <i><h4>Check your mail inbox and follow the instructions to reset your password.<h4> </i>
            <i class="info"><h4>You may close this link<h4> </i>
        </div>
    </div>
</div>