<title>Email Sent Success</title>

<div class="row mt-5">
    <div class="panel col-md-6 m-auto text-center">
        <div class="fade show  fs-0_7"> 
            <h1>You have been sent an email</h1> 
            <br>
            <br>
            <h4>Check your mail inbox and follow the instructions to reset your password <h4> 
            <br>
            <h6>You may close this link<h6> 
        </div>
    </div>
</div>