<title>Forgot Password</title>
<div class="section ptb2rem">
  <h2 class="text-center mb1rem">Reset your password</h2>

  <% if(locals.messages.error.email.anyExists){ %>
  <div class="fontsize-medium mt10 pt10">
    <h5>Email-Username:</h5>
    <% for(var i=0; i<locals.messages.error.email.msg.length; i++) { %>
    <li class=""><%- locals.messages.error.email.msg[i] %></li>
    <% } %>
  </div>
  <% } else if(locals.messages.success.email !== ''){ %>
  <div class="fontsize-medium mt10 pt10">
    <h5>Password:</h5>
    <%- locals.messages.success.email %>
  </div>
  <% } %>
  <div class="col g-marglrrem g-padlrrem">
    <i><h5 class="text-center info mb1rem">Please enter your email address <br /> to recieve further instructions</h5></i>
    <form class="form g-marglrrem mt1rem" action="/users/forgotPwd" method="POST">
      <div class="overflowHidden">
        <label for="email">Email</label>
        <input class="" type="text" id="email" name="email" placeholder="Enter email" />
        <button class="btn mt2rem mb1rem" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>