<title>Home</title>

<div class="text-center section mt4rem ">
  <h2 class="ptb1rem">Login-Registation App</h2>
  <h3 class="ptb1rem"><i></i>Procceed to the Authorized page</h3>
</div>


<div class=" mt3rem mb2rem ptb1rem">
  <div class="text-center">
    <div class="m-auto width-max">
      <div class="mt1rem">
        <p>Only logged in users may have access to the page of the link bellow</p>
      </div>
      <div class="mtb2rem preventTextSelection">
        <a class="btn  wrapPre" href="auth/authorizedPage">Authorized Page</a>
      </div>
    </div>
  </div>
</div>