<title>Home</title>

<h2 class="text-center mt-5">Login-Registation App</h2>
<br>
<div class="row mt-5">
    <div class="panel col-md-6 m-auto text-center">
        <h3><i class="fab fa-node-js fa-3x"></i>Procced to the Authorized page</h3>
        <br>
        <div class="card card-body text-center  mt-2">
            <p>Only logged in users may have access to the page of the link bellow</p>
            <a href="auth/authorizedPage" class="btn btn-primary btn-block mt-5">Authorized Page</a>
        </div>
    </div>
</div>
