<title>Login</title>

<!-- <div class="cont-hor-centerborder border"> -->
<div class="col g-marglrrem g-padlrrem ">
  <h1 class="text-center mtb1rem"><i class=""></i>Login</h1>
  <form class="form g-marglrrem overflowHidden" action="/users/login" method="POST">
    <div class=" ">
      <% if(locals.user) { %>
      <div class="mt10 m4 p10 r10 ba overflowHidden">
        <label for="email">Email</label>
        <input class="" value="<%- locals.user.email%>" type="text" id="email" name="email" placeholder="Enter email" />
      </div>
      <div class="mt10 m4 p10 r10 ba overflowHidden">
        <label for="password">Password</label>
        <input class="" value="<%- locals.user.password; %>" type="text" id="password" name="password" placeholder="Enter password" />
      </div>
      <% } else { %>
      <div class="mt10 m4 p10 r10 ba overflowHidden">
        <label for="email">Email</label>
        <input class="" type="text" id="email" name="email" placeholder="Enter email" />
      </div>
      <div class="mt10 m4 p10 r10 ba overflowHidden">
        <label for="password">Password</label>
        <input class="" type="text" id="password" name="password" placeholder="Enter password" />
      </div>
      <% } %>
      <% if(locals.messages.error.email.anyExists){ %>
      <div class="error mt6 m4 p10 text-shadow ">
        <%- console.log('messages.error.email.length = ', locals.messages.error.email.msg.length) %>
        <% for(var i=0; i<locals.messages.error.email.msg.length; i++) { %>
        <%- locals.messages.error.email.msg[i] %>
        <% } %>
      </div>
      <% }  %>

      <button class="btn ml6 mt1rem preventTextSelection" type="submit">Login</button>
      <div class="mt2rem">
        <a class="link fontsize089rem ml6" href="/users/forgotPwd">Forgot your password?</a>
      </div>
    </div>
  </form>
    <p class="belowForm ptb1rem">
      No Account? <a class="link" href="/users/register">Register</a>
    </p>
</div>
<!-- </div> -->