<title>Reset Password</title>
<% console.log('locals.resetPwdUserId: ', locals.resetPwdUserId); %>
<div class="col g-marglrrem g-padlrrem ">
  <h1 class="text-center mb2rem">Reset Password</h1>
  <h4 class="text-center mb1rem">Please enter your new password</h4>
  <form class="form g-marglrrem " action="/users/auth/resetPwd" method="POST">
    <div class="overflowHidden">
      <label for="password">Password</label>
      <input type="text" id="password" name="password" class="form-control" placeholder="Enter new Password" autocomplete="off" />
    </div>
    <div class="overflowHidden mt1rem">
      <label for="password2">Confirm Password</label>
      <input class="" type="text" id="password2" name="password2" placeholder="Confirm new Password" />
      <input name="userid" style="display:none; visibility: hidden;" value="<%- locals.resetPwdUserId %>" />
    </div>
    <% if(locals.messages.error.password.anyExists){ %>
    <div class="error mt10">
      <% for(var i=0; i<locals.messages.error.password.msg.length; i++) { %>
      <%- locals.messages.error.password.msg[i] %>
      <% } %>
    </div>
    <% } %>
    <button class="btn mt2rem mb1rem" type="submit">Submit</button>
  </form>
  <div class="ptb1rem"></div>
</div>